# ─── Postgres ──────────────────────────────
POSTGRES_USER=admin
POSTGRES_PASSWORD=change_me
POSTGRES_DB=appdb
POSTGRES_PORT=5432

# ─── pgAdmin ───────────────────────────────
PGADMIN_DEFAULT_EMAIL=you@mail.com
PGADMIN_DEFAULT_PASSWORD=change_me
PGADMIN_PORT=5050

# ─── MongoDB ───────────────────────────────
MONGO_INITDB_ROOT_USERNAME=admin
MONGO_INITDB_ROOT_PASSWORD=change_me
MONGO_INITDB_DATABASE=appdb
MONGO_PORT=27017

# ─── mongo-express ─────────────────────────
ME_CONFIG_BASICAUTH_USERNAME=admin
ME_CONFIG_BASICAUTH_PASSWORD=change_me
MONGO_EXPRESS_PORT=8081

# ─── SQL Server ────────────────────────────
ACCEPT_EULA=Y
MSSQL_SA_PASSWORD=change_me_Strong1!
MSSQL_PID=Developer
MSSQL_PORT=1433

# ─── CloudBeaver ───────────────────────────
CLOUDBEAVER_PORT=8978
